{{log model.spec}}
<ul>
  <li>
    <strong>Schemes</strong>
    <ul>
      {{#each model.spec.schemes as |scheme|}}
        <li>{{scheme}}</li>
      {{/each}}
    </ul>
  </li>
  <li>
    <strong>Base Path</strong> - {{model.spec.basePath}}
  </li>
  <li>
    <strong>Produces</strong>
    <ul>
      {{#each model.spec.produces as |fmt|}}
        <li>{{fmt}}</li>
      {{/each}}
    </ul>
  </li>
  <li>
    <strong>Consumes</strong>
    <ul>
      {{#each model.spec.consumes as |fmt|}}
        <li>{{fmt}}</li>
      {{/each}}
    </ul>
  </li>
</ul>
{{outlet}}
